.git
.github
.ipynb_checkpoints
**/__pycache__/
*.py[cod]
.env*
venv/
.venv/
logs/
research/
notebooks/

artifacts/**
!artifacts/data_ingestion/
!artifacts/data_ingestion/dataset/
!artifacts/data_ingestion/dataset/calendar.csv
!artifacts/model_evaluation/
!artifacts/model_evaluation/metrics.json
!artifacts/model_evaluation/submissions/
!artifacts/model_evaluation/submissions/submission_final.csv